/**
* common
*/

/* clearField effect */
.clearFieldBlurred { color: #888; font-style: italic; }
.clearFieldActive { color: #000; }

/*rest*/
.rounded-corners {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

/* texts */
.small-text {
	font-size:0.75em;
}
.dimmed {
	color: #88F;
}

p {
	font-family: Verdana, Tahoma, Helvetica, Arial;
}

a {
	color: #1FA2E1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* wrapper */
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: Verdana, Tahoma, Helvetica, Arial;
	text-decoration: none;
}
.wrapper {
	margin:0;
	padding:0;
}

.left {
	float:left;
}

.clearfix {
	clear: both;
}

/* header */
.logo-wrapper {
	margin:0;
	padding:0;
}
.logo a img {
	border: none;
}
#links-top {
	padding: 1em;
	min-width: 800px;
	text-align: right;
	line-height: 1.4em;
}
#links-top a{
	padding:0 .5em;
}

/*layout*/
#logo-center {
	float: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding-top: 40px;
	text-align: center;
	width: 90%;
}

#content-wrapper {
	width: 90%;
	max-width: 1000px;
	min-height: 180px;
	margin: 0;
	padding: 0;
}
#content-inner-wrapper {
	margin: 0 auto;
	padding: 0 24px;
}
#logo-small {
	float: left;
	margin-left: 32px;
}
#head {
	background: transparent repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0 0 5px #888888;
	margin-bottom: 40px;
	padding: 10px 10px 10px;
}

/* footer */
#page-footer {
	clear: both;
	margin-top: 1em;
	padding: 0 24px;

}
#links-bottom {
	padding: 1em;
	text-align: center;
	margin-bottom: -1em;
}
#links-bottom a{
	padding:0 .5em;
}
#licence {
	text-align: center;
	font-size: 0.75em;
	padding: .5em 0 2em;
}
.social-bar {
	height: 20px;
	width: 475px;  
	margin: 0 auto;
}
#social
{
	padding-top: 1em;
}

/**
* search
*/
#search-content-wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3em;
	max-width:1000px;
	width:90%;
}

input#search-address,input#search-submit-geocode{
	font-size: 1.2em;
}


#search-address{
	width:70%;
	max-width:750px;
	display:inline;
}

#search-submit{
	padding-top: 2em;
}

#search-advanced-search{
	margin-top: .6em;
}

#search-example{
	color: #666;
	font-style: italic;
	font-size:0.75em;
	margin-top: 6px;
}

#search-submit-geocode {
	border: 1px solid #FBCB09;
}
fieldset.search {
	border: none;
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
	/*
	width: 600px;
	background: #fff;
	display:inline;
	padding-left: 242px;
	padding-right: 254px;*/
}

/**
* choose
*/

.constituency-description { font-size: 13px; }
.constituency-description .name { font-weight: bold; }
.parliament-head-description { font-size: 13px; margin: -12px 0 12px; }

.group{
	_height:60px;
	min-height:60px;
}
.group-logo {
	width: 100px;
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
}

/* map */
#choose-map_canvas {
  height:220px;
  width:220px;
}

/* boxes */

#choose-send{
	background: transparent url(/images/back-znacka.png) no-repeat -35px 0px;
}
#choose-submit-mps{
	margin: 65px 0px 95px 100px;
}
#choose-addressee {
	display:block;
}
#choose-up-to {
	margin-bottom: 10px;
}
#choose-search-wrapper {
	margin-top: 20px;
}
#choose-message {
}
#choose-geocode-address {
	width: 220px;
	font-size: 1em;
}
#choose-submit-geocode {
	font-size: 1em;
	padding: 2px 10px;
}
#choose-main-column{
	margin-left: 244px;
	min-width: 730px;
}
#choose-result{
	margin-left: 244px;
}
#choose-map-column {
	width: 220px;
	float: left;
}
#choose-map-column .ui-widget {
	font-size: 1em;
	margin-top: 5px;
}
#choose-map-column .ui-widget p{
	font-size: .8em;
}
.constituencies-message {
	font-size: .9em;
	font-weight: bold;
	margin-bottom: 1em;
}

.addressee-box-wrapper {
	border: 5px dashed #DDD;
	float: left;
	margin: 0 12px;
}
.addressee-box {
	height:162px;
	width:120px;
}
.box-name {
	font-size: 75%;
	line-height: 135%;
	font-weight: bold;
	margin-top: -8px;
}
.box-x {
	position: relative;
	left: 102px;
	top: -160px;
}
.choose-up-to{
	min-width:220px;
}

/*jQuery UI */
.ui-state-active-border {
	background: #EEE;
}

.draggable{
	cursor:move;
}

.ui-draggable-disabled, .mp-clicked-on {
	cursor:default;
}

.mp-clicked-off, .deselect {
	cursor:pointer;
}

.mp-toggle {
	display: inline-block;
}

/* mps */
.found-mps {
	margin-left: 120px;
	margin-bottom: .5em;
}
.group-mps {
	display:inline;
}
.mp {
	display:inline;
	padding-right: .4em;
}
.mp-name-info {
	white-space: normal
}
.mp-name-name{
	color: #006;
}
.mp-disabled .mp-name-name,
.mp-disabled .mp-name-info {
	color: #bbb;
}

/* debug geocoding */
#choose-message-debug {
	color: #888;
	background-color: #BBB;
	display: none;
}

/* advanced search */
#search_advanced-form label {
	width: 18em;
	display:inline-block;
}
/*#search_advanced-form {
	margin-left: auto;
	margin-right: auto;
	width: 45em;
}*/
#search_advanced-submit {
	margin: 1em 0 1em 0;
	display:block;
}
#search_advanced-export {
}
/*#advanced-search-export-form {
	text-align: center;
}*/
#search_advanced-page-wrapper {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

/**
* write
*/

#write {
	min-width: 870px;
}

#write-fields {
	float: left;
	width: 404px;
	background: transparent url(/images/back-znacka.png) no-repeat -191px 10px;
}
#write-name, #write-email, #write-subject, #write-address {
	width: 290px;
	margin-bottom: .65em;
}
#write-email {
	margin-bottom: 32px;
}
#write-privacy  {
	padding-bottom: 8px;
}
#write-privacy  .caption {
	display: inline;
}
#write-privacy .option {
	display: inline;
	margin-left: 10px;
}
#write-privacy .explanation {
	display: none;
	position: absolute;
	width: 220px;
	padding: .4em;
	font-size: 80%;
}
#write-body {
	width: 855px;
	height: 200px;
	clear: both;
	display: block;
}
#write-mps {
	display: inline;
}
#write-mps .mp {
	display: inline;
	margin: 10px 12px;
	float: left;
	font-size: 75%;
	line-height: 135%;
	width: 120px;
}
#write-mps img {
	height: 162px;
	width: 120px;
	padding-bottom: 4px;
}
#write-mps .name {
	font-weight: bold;
}
#write-newsletter {
	margin-top: 1.2em;
}

/**
* public
*/
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
	font-size: 80%;
	width: 150px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 150px;
}
#list-filter-form td { font-size: 80% }
#list-filter-form #parliament { width: 140px }
#list-filter-form #recipient { width: 140px }
#list-filter-form #text { width: 150px }
#list-filter-form #since { width: 70px }
#list-filter-form #until { width: 70px }
#list-filter-form #sender { width: 120px }
#list-filter-form #order { width: 120px }
.disambiguation { color: #aaa; font-size: 80%; line-height: 100%; }

/**
* list
*/
#list-table {
	width:100%;
	table-layout:fixed;
	border-width: 1px 1px 0;
	font-size: 75%;
}
#list-table thead {
	font-weight: bold;
 }
#list-table tr:hover {
	background-color:#FBE09E;
	border-color: #F6F5F2;
}
#list-table td {
	overflow:hidden;
	padding: 3px 5px 2px;
	border-style: solid;
	border-width: 0 0 1px;
	border-color: #F6F5F2;
	white-space:nowrap;
}
.list-subject {
	font-weight: bold;
}
.list-td-date {
	width:6em;
}
.list-td-replier{
	width:30%;
}
.list-td-sender{
	width:15%;
}
#list-pager { width: 100%; }

/**
* message
*/
#message-title {
	margin: 0;
	margin-bottom: 4px;
}
#message-from, #message-date {
	line-height: 120%;
}
#message-body {
	margin-top: 1em;
}
.message-mp-replies{
	padding: 2em 0;
}
.message-mp {
	float: left;
	width:100px;
	font-size: 75%;
	line-height: 135%;
}
.message-mp .name {
	font-weight: bold;
}
.message-mp img {
	width: 100px;
	margin-bottom: 4px;
}
.message-reply {
	margin-left: 120px;
	margin-right: 130px;
}
.message-reply .dimmed{
	color: #aaa;
}
.message-reply-date {
	float: right;
	color: #aaa;
	margin: 0 0 1em 2em;
}

/**
* pager
*/

.pager-link { margin: .5em 0 1em; font-size: 75%; font-weight: bold; }
.pager-prev { float: left; }
.pager-next { float: right; }

/**
* statistics
*/
#statistics-filter-form { margin-bottom: 0; }
#statistics-filter-form td { font-size: 80% }
#statistics-table {
	width: 570px;
	table-layout: fixed;
	border-width: 1px 1px 0;
	font-size:75%;
}
#statistics-table thead{
	font-weight: bold;
 }
#statistics-table tr:hover {
	background-color:#FBE09E;
	border-color: #F6F5F2;
}
#statistics-table td {
	overflow:hidden;
	padding: 3px 5px 2px;
	border-style: solid;
	border-width: 0 0 1px;
	border-color: #F6F5F2;
	vertical-align: bottom;
}
.statistics-td-politician {
	width: 29%;
}
.statistics-td-received {
	width: 18%;
	text-align: center;
}
.statistics-td-replied {
	width: 18%;
	text-align: center;
}
.statistics-td-ratio {
	width: 18%;
}
.statistics-td-average-days {
	width: 17%;
	text-align: right;
}
tbody .statistics-td-average-days {
	color: #888;
}
.statistics-td-ratio .replied {
	background: #3e8213;
	display: inline-block;
}
.statistics-td-ratio .not-replied {
	background: #dd2a2b;
	display: inline-block;
}
#statistics-pager { width: 570px; }
