/**
* common
*/

/* clearField effect */
.clearFieldBlurred { color: #888; font-style: italic; }
.clearFieldActive { color: #000; }

/* parties' logos sprite */
.party-logo {
   background: url(/images/parties.png) no-repeat top left;
}
.party-logo-cssd{ background-position: 0 0; width: 43px; height: 43px; } 
.party-logo-kdu-csl{ background-position: 0 -93px; width: 43px; height: 43px; } 
.party-logo-kscm{ background-position: 0 -186px; width: 43px; height: 43px; } 
.party-logo-nezarazeni{ background-position: 0 -279px; width: 43px; height: 43px; } 
.party-logo-ods{ background-position: 0 -372px; width: 43px; height: 43px; } 
.party-logo-top09-s{ background-position: 0 -465px; width: 43px; height: 43px; } 
.party-logo-vv{ background-position: 0 -558px; width: 43px; height: 43px; } 

/*rest*/
.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

/* texts */
.small-text {
  font-size:0.75em;
}
.dimmed {
  color: #88F;
}

p {
font-family: Verdana, Tahoma, Helvetica, Arial;
}

a {
    color: #1FA2E1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* wrapper */
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: Verdana, Tahoma, Helvetica, Arial;
	text-decoration: none;
}
.wrapper {
  margin:0;
  padding:0;
}

.left {
 float:left;
}


/* header */
.logo-wrapper {
  margin:0;
  padding:0;
}
.logo {
}


/*layout*/
#logo-center {
  float: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-bottom: 3em;
    padding-top: 10px;
    text-align: center;
    width: 90%;
}


#wrapper-page{
 
  width: 90%;
  max-width: 1000px;
  min-height: 180px;
  margin: 0 auto;
  padding: 0 24px;
}
#logo-small{
 
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  
}
#head {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 5px #888888;
 
    margin-bottom: 40px;
    padding: 10px 10px 15px;
}

/* footer */
#page-footer {
}
#links {
  padding: 1em;
  text-align: center;
}
#links a{
  padding:0 .5em;
}
#licence {
  text-align: center;
  font-size: 0.75em;
  padding: 1em;
}

/**
* search
*/
#search-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 3em;
  max-width:1000px;
  width:90%;
}
  
input#search-address,input#search-submit-geocode{
  font-size: 1.5em;
}


#search-address{
  width:65%;
  max-width:750px;
  display:inline;
}

#search-submit{
  padding-top: 1.5em;
}

#search-advanced-search{
 display:inline-block;
 width: 50px;
}

#search-example{
  color: #666;
  font-style: italic;
  font-size:0.75em;
  text-align:center;
  display:block;

}

#search-submit-geocode {
  border: 1px solid #FBCB09;
}
fieldset.search {
	border: none;
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
	/*
	width: 600px;
	background: #fff;
	display:inline;
	padding-left: 242px;
    padding-right: 254px;*/
}

/**/


/*input#search-address,input#search-submit-geocode{
   display:inline;
    color: #7e7e7e;
	font-size: 1.2em;
	width: 160px;
	height: 40px;
	padding: 1px 5px 0;
	background: #fff url(napiste.gif) no-repeat;
	margin-right: 5px;
	border:none;
}*/


/*input#search-address,input#search-submit-geocode:focus {
	background: #000 url(napiste.gif) no-repeat left -41px;
	outline: none;
	display:inline;
}*/
/*#search-right {
  display:inline;
}

#search-address,#geocode-address-2{
  width:65%;
  max-width:750px;
  display:inline;
}

#search-advanced-search{
 display:inline;
}

#search-example{
  color: #666;
  font-style: italic;
  font-size:0.75em;
  text-align:center;
  display:block;
}
*//*
fieldset.search {
	border: none;
	width: 600px;
	margin: 0 auto;
	background: #fff;
	display:inline;
	padding-left: 242px;
    padding-right: 254px;
}*/
/*.search input, .search button {
	border: none;
	float: left;
	display:inline;
}

.search input.clearField {
	color: #7e7e7e;
	font-size: 1.2em;
	width: 508px;
	height: 34px;
	padding: 4px 5px 0;
	background: #fff url(search_bg.gif) no-repeat;
	margin-right: 5px;
	display:inline;
}
.search input.clearField:focus {
	background: #000 url(search_bg.gif) no-repeat left -34px;
	outline: none;
	display:inline;
}*/

/**
* search_results
*/

.group{
  min-height:50px;
}
.group-logo {
 width: 80px;
}


/* map */
#search_results-map_canvas {
  height:250px;
  width:250px;
  float:right;
}

/* boxes */

#search_results-send{
background: #fff url(/images/back-znacka.png) no-repeat;
}
#search_results-submit-mps{
margin:65 100px;
}
#search_results-addressee {
display:block;
}
#search_results-addressee h2 {
	margin-top: 110px;
}
#search_results-up-to {
	clear: both;
	margin-bottom: 10px;
}
#search_results-search-wrapper {
	margin-top: 20px;
	margin-right: 300px;
}
#search_results-message {
	margin-right: 300px;
}
#search_results-geocode-address {
	width: 250px;
	font-size: 1em;
}
#search_results-submit-geocode {
	font-size: 1em;
	padding: 2px 10px;
}

.addressee-box{
  border: 5px dashed #DDD;
  height:162px;
  min-width:120px;
  float:left;
  margin: 0 20px;
  display:block;
}

.search_results-up-to{
min-width:220px;
}

/*jQuery UI */
.ui-state-active-border {
  border: 5px dashed #F00;
}

.draggable{
  cursor:move;
}

.ui-draggable-disabled{
  cursor:default;
}

/* toggle */
/*.mp-toggle-off{
  cursor:pointer;
  background-position: 0 0;
  width: 20px;
  height: 20px;
}

.mp-toggle-on{
  cursor:default;
  background-position: 0 -30px;
  width: 20px;
  height: 20px;
}*/
.mp-clicked-on {
  cursor:default;
}
.mp-clicked-off {
  cursor:pointer;
}
.deselect {
  cursor:pointer;
}
.mp-toggle {
  display: inline-block;
}

/* mps */
.group-mps {
  display:inline;
}
.mp {
  display:inline;
  white-space:nowrap;
}
.mp-name-info {
  white-space:normal
}
.mp-name-name{
  color: #006;
}

.mp-name-info{
}

/* debug geocoding */
#search_results-message-debug {
  color: #888; 
  background-color: #BBB;
  display: none;
}

/* advanced search */
#advanced_search-form label {
  width: 18em;
  display:inline-block;
}
/*#advanced_search-form {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}*/
#advanced_search-submit {
  margin: 1em 0 1em 0;
  display:block;
}
#advanced_search-export {

}
/*#advanced-search-export-form {
  text-align: center;
}*/
#advanced_search-page-wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
/**
* write
*/
.write-input{
  margin-bottom: .65em;
}

.write-mp {
	float: left;
  margin: 0 120px 0px 0px;
}
#write-personal {
	clear: both;
	padding-top: 60px;
}
.write-mp-photo {
  height:162px;
  min-width:120px;
}
.write-mp-first_name {
	padding-top: 7px;
}
#write-name, #write-email, #write-subject {
	width: 300px;
}
#write-privacy {
	display: inline;
	margin-left: 60px;
}
#write-privacy input {
	margin-left: 10px;
}
#write-newsletter {
	margin-top: 15px;
