/**
* common
*/

/* clearField effect */
.clearFieldBlurred { color: #888; font-style: italic; }
.clearFieldActive { color: #000; }

/* parties' logos sprite */
.party-logo {
   background: url(/images/parties.png) no-repeat top left;
}
.party-logo-cssd{ background-position: 0 0; width: 50px; height: 30px; } 
.party-logo-kdu-csl{ background-position: 0 -80px; width: 50px; height: 30px; } 
.party-logo-kscm{ background-position: 0 -160px; width: 50px; height: 30px; } 
.party-logo-nezarazeni{ background-position: 0 -240px; width: 50px; height: 30px; } 
.party-logo-ods{ background-position: 0 -320px; width: 50px; height: 30px; } 
.party-logo-top09-s{ background-position: 0 -400px; width: 50px; height: 30px; } 
.party-logo-vv{ background-position: 0 -480px; width: 50px; height: 30px; } 

/*rest*/
.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

/* texts */
.small-text {
  font-size:0.75em;
}
.dimmed {
  color: #88F;
}

/* wrapper */
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
  margin:0;
  padding:0;
}

.left {
 float:left;
}


/* header */
.logo-wrapper {
  margin:0;
  padding:0;
}
.logo {
  display: table-cell;
  padding: 5px 40px;
}
#logo-right {
  float:right;
}

/* footer */
#page-footer {
}
#links {
  padding: 1em;
  text-align: center;
}
#links a{
  padding:0 .5em;
}
#licence {
  text-align: center;
  font-size: 0.75em;
  padding: 1em;
}

/**
* search
*/
#search-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 3em;
  max-width:1000px;
  width:90%;
}
  
input#search-address,input#search-submit-geocode{
  font-size: 1.5em;
}

#search-right {
  display:inline;
}

#search-address,#geocode-address-2{
  width:65%;
  max-width:750px;
  display:inline;
}

#search-advanced-search{
 display:inline;
}

#search-example{
  color: #666;
  font-style: italic;
  font-size:0.75em;
  text-align:center;
}

/**
* search_results
*/

/* map */
#search_results-map_canvas {
  height:250px;
  width:250px;
}

/* boxes */
.addressee-box{
  border: 5px dashed #DDD;
  height:100px;
  min-width:200px;
  float:left;
}

/*jQuery UI */
.ui-state-active{
  border: 5px dashed #F00;
}

.draggable{
  cursor:move;
}

.ui-draggable-disabled{
  cursor:default;
}

/* toggle */
.mp-toggle-off{
  cursor:pointer;
  background-position: 0 0;
  width: 20px;
  height: 20px;
}

.mp-toggle-on{
  cursor:default;
  background-position: 0 -30px;
  width: 20px;
  height: 20px;
}

/* mps */
.group-mps {
  display:inline;
}
.mp {
  display:inline;
}
.mp-name-name{
  color: #006;
}

.mp-name-info{
}

/* debug geocoding */
#search_results-message-debug {
  color: #888; 
  background-color: #BBB;
  display: none;
}


/**
* 
*/
